<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="form-group">
    <label for="email">
        <f:translate key="LLL:EXT:newsletter/Resources/Private/Language/locallang.xlf:subscription.subscribe.email" />
    </label>
    <f:form.textfield
        id="email"
        property="email"
        type="email"
        class="form-control"
        additionalAttributes="{required: 'required', placeholder: 'your@email.com'}"
    />
</div>
</html>
