<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:section name="Content">
<div class="module-body">
    <h1>Newsletter Archive</h1>

    <f:if condition="{newsletters}">
        <f:then>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Sent At</th>
                        <th>Statistics</th>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{newsletters}" as="newsletter">
                        <tr>
                            <td>{newsletter.subject}</td>
                            <td>
                                <f:if condition="{newsletter.scheduledAt}">
                                    <f:format.date date="{newsletter.scheduledAt}" format="d.m.Y H:i" />
                                </f:if>
                            </td>
                            <td>
                                <f:link.action action="statistics" arguments="{newsletter: newsletter}" class="btn btn-sm btn-secondary">View Statistics</f:link.action>
                            </td>
                        </tr>
                    </f:for>
                </tbody>
            </table>
        </f:then>
        <f:else>
            <div class="alert alert-info">No archived newsletters found.</div>
        </f:else>
    </f:if>
</div>
</f:section>
</html>
