<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">
    <div class="mai-newsletter-confirm">
        <f:if condition="{success}">
            <f:then>
                <h2><f:translate key="confirm.success.title" extensionName="mai_newsletter" default="Subscription confirmed"/></h2>
                <p><f:translate key="confirm.success.message" extensionName="mai_newsletter" default="Thanks! Your subscription is now active."/></p>
            </f:then>
            <f:else>
                <h2><f:translate key="confirm.fail.title" extensionName="mai_newsletter" default="Confirmation failed"/></h2>
                <p><f:translate key="confirm.fail.message" extensionName="mai_newsletter" default="The confirmation link is invalid or has already been used."/></p>
            </f:else>
        </f:if>
    </div>
</f:section>
</html>
