<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:section name="Content">
<div class="module-body">
    <h1>Statistics: {newsletter.subject}</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h3>{statistics.sent}</h3>
                    <p>Emails Sent</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h3>{statistics.failed}</h3>
                    <p>Failed</p>
                </div>
            </div>
        </div>
    </div>

    <f:if condition="{statistics.startedAt}">
        <p>Started: {statistics.startedAt}</p>
    </f:if>
    <f:if condition="{statistics.finishedAt}">
        <p>Finished: {statistics.finishedAt}</p>
    </f:if>

    <f:link.action action="list" class="btn btn-secondary">Back to List</f:link.action>
</div>
</f:section>
</html>
