<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <h1><f:translate key="LLL:EXT:newsletter/Resources/Private/Language/locallang.xlf:subscription.confirm.headline" /></h1>

    <f:if condition="{success}">
        <f:then>
            <div class="alert alert-success">
                <f:translate key="LLL:EXT:newsletter/Resources/Private/Language/locallang.xlf:subscription.confirm.success" />
            </div>
        </f:then>
        <f:else>
            <div class="alert alert-danger">
                <f:translate key="LLL:EXT:newsletter/Resources/Private/Language/locallang.xlf:subscription.confirm.error" />
            </div>
        </f:else>
    </f:if>
</f:section>
</html>
